html,body{
    height: 100%;
    width: 100%;
    font-family: "微软雅黑";
}

/* * 表示所有的标签 
font-weight 文字粗细
padding 填充
margin 间距
*/
*{
    font-weight: 300;  
    padding: 0;
    margin: 0; 
}

/* 禁用滚动条 */
::-webkit-scrollbar{
    display: none;
}

/* 测试边框 */
.show-border{
    border: 1px red solid;
}