#wrap-discovery{
    height: 100%;
    /* 占用剩余布局 */
    flex-grow: 1;
    /* 裁剪剩余部分，滚动显示 */
    overflow-y: scroll;
    background: whitesmoke;
    display: none;
}

/* 每组容器 */
.groups{
    background: white;
    width: 100%;
    margin-top: 15px;
}

.group-item{
    /* 宽度占满所以加一行 */
    width: 94%;
    height: 44px;
    margin: 0 auto;
    display: flex;
    /* 块级元素之间间隔显示 */
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
}

/* 最后一项取消下边框 */
.group-item :last-child{
    border-bottom:none ;
}

/* 左侧图标 */
.group-item-left{
    width: 40px;
    height: 40px;
}
/* 图标图片 */
.group-item-left img{
    width: 24px;
    height: 24px;
    margin: 7px;
}

.group-item-center{
    /* 占用剩余文字 */
    flex-grow: 1;
    color: #616161;
    font-size: 14px;
    /* 因为垂直居中调不了，只能调行高 ，将内容指定占用高度调到与容器高度相同*/
    line-height: 40px;
    padding-left: 10px;
}
.group-item-right{
    width: 40px;
    height: 40px;
    background: url(../img/icon/material/右箭头.svg) no-repeat;
    background-position:center;
    background-size: contain;
    transform:scale(.5) ;
}